*{
  padding: 0%;
  margin: 0%;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  color:#ECF3FF;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  word-wrap: break-word;
  }
html{
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  }
a:hover, a2:hover {
    text-decoration: underline;
  }
a2{
  color: rgb(176,179,184);
  cursor: pointer;
}
body{
  height: 100vh;
  background-color: #18191a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
.container{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image-background{
  background-color: black;
  height: auto;
  width: 80%;
  position: relative;
}
.overlay{
  display: flex;
  flex-direction: colum;
}
.overlay-top{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 5vh 0vh 3vh;
}
.overlay-top-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#image{
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }
.sidebar{
  width: 38vh;
  background-color: rgb(36,37,38);
  height: auto;
  overflow-y: scroll;
}
.sidebar-menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1vh 0vh 1vh 0vh;
  border-bottom: 0.1vh solid #4B4C4F;
}
.button{
  height: 4vh;
  width: 4vh;
  background-color: #4B4C4F;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vh;
  cursor: pointer;
}
.button-icon{
  height: 2vh;
  width: 2vh;
  cursor: pointer;
}
.sidebar-comments{
  display: flex;
  flex-direction: column;
}
.author-bar{
  padding: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.author-data{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.author-data-text{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.author-text{
  font-weight: normal;
  font-size: 15px;
  padding: 0vh 1vh 1vh 2vh;
}
.status{
  padding: 0vh 1vh 2vh 2vh;
  border-bottom: 0.1vh solid #4B4C4F;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.actions{
  padding: 1vh 1vh 1vh 2vh;
  border-bottom: 0.1vh solid #4B4C4F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comentario-container{
  padding: 1vh 1vh 1vh 1vh;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.comentario{
  padding: 1vh;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: #4B4C4F;
  border-radius: 20px;
}
.comentar{
  width: 25vh;
  height: 3vh;
  padding-left: 1vh;
  text-align: left;
  background-color: #4B4C4F;
  border-radius: 20px;
  border: 0px;
}
#more {display: none;}
