*{
  padding: 0%;
  margin: 0%;
  }
html{
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  color:#ECF3FF;
  }
a{
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  color:#ECF3FF;
  font-size: 80%;
  text-decoration: none;
  font-weight: bold;
  }
p{
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  color:#ECF3FF;
  font-size: 80%;
  text-decoration: none;
  font-weight: bold;
  word-wrap: break-word;
  }
a:hover {
    text-decoration: underline;
  }
body{
    background-color: #18191a;
  }
.container{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.image-background{
    background-color: black;
    width: 73%;
    height: auto;
    display: flex;
    justify-content: center;
  }
#image{
  height: 57%;
  }
.sidebar{
  background-color: rgb(36,37,38);
  height: auto;
  width: 27%;
}
.sidebar-menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0px 10px 0px;
  border-bottom:1px solid #4B4C4F;
}
.button{
  height: 35px;
  width: 35px;
  background-color: #4B4C4F;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor:pointer;
}
.button-icon{
  height: 20px;
  width: 20px;
}
.sidebar-comments{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.author-bar{
  padding: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.author-data{
  display: flex;
  flex-direction: row;
  align-items: left;
}
.author-data-text{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.author-text{
  padding: 0px 14px 14px 14px;
}
